
nav.menu-nav ul li.btn a{
	text-decoration: none;
	color: white;
	background-color: red;
	padding: 10px;
}

nav.menu-nav ul li.btn:hover a{
	color: red;
	background-color: white;
	transition: 0.3s all;
}

nav.menu-nav ul li.btn{
	list-style-type: none;
	display: inline-block; 
}

div#content div{
	display: inline-block;
	width: 48%;
}

div#content div.leftbox{

}

div#content div.rightbox{
	vertical-align: top;
}

div#content div. h1, p, h3{
	margin: 35;
}


/*p.coucou{
	color: black;
	font-weight: black;
}

p.test{
	color: white;
	background-color: red;
	opacity: 155;
}

body{
	background-color: grey;
}

h1.debut{
	font-size: 50px;
	color: red;
	padding-left: 350px;
	margin: 10px; 	
}